<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<table>
  <thead>
  <tr>
    <th>Fname</th>
    <th>Lname</th>
    <th>Image</th>
    <th>Email</th>
    <th>Message</th>
    <th>Post Title</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.fname %></td>
        <td><%= comment.lname %></td>
        <td><%= image_tag comment.image.url(:thumb) %></td>
        <td><%= comment.email %></td>
        <td><%= comment.message %></td>
        <td><%= comment.post.title %></td>
        <td><%= link_to 'Show', comment %></td>
        <% if current_user.id==comment.post.user_id ||current_user.role.name == 'admin' %>
            <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
            <td><%= link_to 'Destroy', comment, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
