<section class="blog-content blog-grid">
      <div class="row">
      <% @posts.each do |post| %>
        <!-- POST -->
        <div class="col-sm-6 col-md-4">
          <div class="post">
            <div class="post-cat">
              <ul>
                <li><a href="#"><%= post.category.name %></a></li>
              </ul>
            </div>
            <div class="post-format">
              <a href="#">
                <i class="<%= post.font.font_class %>"></i>
              </a>
            </div>
            <div class="post-media">
              <div class="image-wrap">
                <%= image_tag post.image.url(:medium) %>
              </div>
              <div class="post-share">
                <div class="share">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                    <span class="count">500</span>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                    <span class="count">320</span>
                  </a>
                  <a href="#">
                    <i class="fa fa-dribbble"></i>
                    <span class="count">400</span>
                  </a>
                  <a href="#">
                    <i class="fa fa-instagram"></i>
                    <span class="count">150</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="post-title">
              <h2><%=link_to post.title, post %></h2>
            </div>
            <div class="post-meta">
                            <span class="author">
                                <i class="pi-icon pi-icon-user"></i>
                                By <a href="#"><%= post.user.name %></a>
                            </span>
                            <span class="date">
                                <i class="pi-icon pi-icon-clock"></i>
                                <a href="#"><%= post.created_at.strftime('%d %B,%Y') %></a>
                            </span>
                            <span class="comment">
                                <i class="pi-icon pi-icon-comment"></i>
                                <a href="#"><%= post.comments.count %> Comments</a>
                            </span>
            </div>
          </div>
        </div>
        <!-- END / POST -->
       <% end %>
      </div>

</section>