<div class="row latest-posts">
  <div class="col s12">

    <% @posts.each do |post| %>
    <div class="row post">
      <div class="col s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag post.image.url(:large) %>
            <span class="card-title"><%= post.title %></span>
          </div>
          <div class="card-content">
            <p><%= post.description %></p>
          </div>
          <div class="card-action">
            <%= link_to 'READ MORE',post %>
          </div>
        </div>
      </div>
    </div>

<% end %>




    <div class="row">
      <div class="col s12">

        <div class="apple_pagination">

          <%= js_will_paginate @posts, :container => false %>
        </div>


      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col s12">

    <h3 class="popular-posts-title">Popular Posts</h3>

    <div class="row popular-posts">

      <% @popular_posts.each do |popular| %>

      <div class="col s12 m6 popular-post">
        <div class="card">
          <div class="card-image">
            <%= image_tag popular.image.url(:medium) %>
            <span class="card-title"><% popular.title %></span>
          </div>
          <div class="card-content">
            <p><%= popular.description %></p>
          </div>
          <div class="card-action">
            <%= link_to "READ MORE",popular %>
          </div>
        </div>
      </div>

      <% end %>


    </div>

  </div>
</div>

<div class="row">
  <div class="col s12">

    <h3 class="archive-posts-title">Archive</h3>

    <div class="row archive-posts">

<% @archive.each do |archive| %>
      <div class="col s12 m6">

        <div class="archive-post">
          <h6><b><%= link_to archive.title,archive %></b></h6>
          <p><%= archive.description %></p>
        </div>

      </div>

<% end %>

    </div>



  </div>
</div>
